name: Test and Lint

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  test:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v3
    - name: Run Tests
      run: swift test

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: GitHub Action for SwiftLint
      uses: norio-nomura/action-swiftlint@3.2.1
